 /* 
-- Use variables somehow
-- use custom font  DONE
-- background image DONE
-- odin logo on sidebar DONE
-- layout the two sides  DONE
-- Sidebar font  DONE
-- right side header
-- form header
-- form input layout
-- form input validation
-- form buttom and log in link
-- from label style
-- form h1 style
-- form button style

 */

:root {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: black;
}


/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }



body {
    display: flex;
    border: 0px;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    min-height: 100vh;
    
}

@font-face {
    font-family: Norse-Bold;
    src: url(/assets/Norse-Bold2.woff);
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: no-repeat center url("./assets/leaf-bg.avif");
    width: 35%;
    color: white;
    background-size: cover;
}


.right-container {
  display: flex;
  flex-direction: column;
  background: rgb(244, 241, 241);
  width: 65%;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 5rem;
}

.right-container>* {
  padding: 0 3rem;
}

.sidebar-main {
  position: relative;
  top: 20%;
  display: flex;
  width: 100%;
  /* TODO: do the height in a better way */
  /* max-height: 7rem; */
  background-color: rgba(0, 0, 0, 0.466);
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;

}    

#icon-holder {
	height: min(150px, 100%);
  max-height: 150px;
}  

.logo-text {
  font-family: Norse-Bold, sans-serif;
  font-size: 6rem;
}  


footer {
  position: relative;
  bottom: 1rem;
}

footer a {
  color: white;
}


input, label {
  display: block;

}

input {
  border: #E5E7EB 1px solid;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: normal;
}

label {
  font-size: 0.8rem;
  font-weight: 800;
  color:#6a6666;
}


.form-container {
  background-color: white;
  box-shadow: 0px 5px 5px 0px rgba(222, 218, 218, 0.75);
  padding-bottom: 2rem;
  padding-top: 2rem;

}

fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  row-gap: 2rem;
  column-gap: 5rem;

}

fieldset input {
  width: 15rem;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}



button {
  padding: 0.5rem 2.5rem;
  border-radius: 8px;
  background-color: #596D48;
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #495d38;
}

button:active {
  border-style:inset;
  background-color: #3f552e;
}

.btn-container {
  font-weight: bold;
}

a {
  color: #596D48;
}

/* input[type="password"] {
  border: #E5E7EB 1px solid;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: normal;
} */

input[type="password"]:invalid {
  border: 1px solid red;
}

input:focus {
  border: 1px solid rgb(27, 68, 182);
  -webkit-box-shadow: 3px 2px 9px 0px rgb(166, 166, 168);
-moz-box-shadow: 3px 2px 9px 0px rgb(175, 176, 179);
box-shadow: 3px 2px 9px 0px rgb(190, 190, 193);
}

input[type="password"]:valid {
  border: 1px solid rgb(29, 179, 57);
}

